/*reglas para las fuentes de google fonts
font-family: 'Asap', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

body {
	background-image: url(../img/bg.jpg);/* ../sale, nom/entra url() ruta de la imagen */
	background-repeat: no-repeat;/* la imagen de fondo no se repite*/
	background-size: cover;/*ocupa todo el espacio */
	font-family: 'Source Sans Pro', sans-serif; /* fuente de la letra */
}
header {
	background: white; /*diferentes colores busco codigo */
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
	height: 120px;
}
header .logo {
	float: left; /* alinear */
	margin-right: 30px; /* margen para separar objeto*/
}
header .excel {
	float: right;
}
header h1 {
	font-family: 'Asap', sans-serif;
	text-transform: uppercase; /* uppercase modfica el texto a mayuscula*/
	margin-bottom: 0; /*elimina margen inferior*/
	margin-top: 30px; /*agrega espacio arriba*/
	color: #006680;
	text-align: center;
}
header h2 {
	margin-top: 0;
	color: #FF6900;
	text-align: center;
}
nav {
	background: #006680;
	padding: 10px;
	height: 40px;
}
nav ul {
	margin: auto;/*elimina margenes*/
}
nav ul li {
	float: left;
	list-style-type: none;/*elimina el punto de las listas*/
	padding: 10px 20px;
	background: #FF6900;
	border-radius: 10px;/*redondeado en las esquinas*/
	margin-left: 5px;/*espacio entre boton*/
	margin-right: 5px;
}
nav ul li:hover {/*cambia el estilo cuando el mouse esta encima*/
	background: #F2B80D;
}
nav ul li a {
	color: white;
	text-decoration: none;/*elimina el subrayado*/
}
section {
	border-radius: 50px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: justify;
	margin-top: 20px;
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 0;
	color: #FF5900;
}
footer {
	text-align: center;
	color:#006680;
	margin: 50px 0;
}